In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series 

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas Series function on the variable print it

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# Q3. Create a Pandas DataFrame that contains the following data: 

"""
Name 
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
"""



import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example

# ---> In Pandas, a DataFrame is a two-dimensional tabular data structure that consists of rows and columns 

# ----> A pandas Series is a one-dimensional array 

import pandas as pd

# Creating a Series
series = pd.Series([4, 8, 15, 16, 23, 42])
print(series) 

# Creating a DataFrame
data = {
    'Numbers': [4, 8, 15, 16, 23, 42],
    'Letters': ['A', 'B', 'C', 'D', 'E', 'F']
}
df = pd.DataFrame(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
   Numbers Letters
0        4       A
1        8       B
2       15       C
3       16       D
4       23       E
5       42       F

In [5]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? 
# Can you give an example of when you might use one of these functions? 



"""
Pandas provides a wide range of functions to manipulate data in a DataFrame.

head() and tail(): These functions allow you to view the first few rows (head) or the last few rows (tail) of a DataFrame. They are useful for quickly inspecting the structure and content of the data.

info(): This function provides a summary of the DataFrame, including the number of non-null values and data types of each column. It is helpful for understanding the data types and identifying missing values.

describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It provides a comprehensive summary of the numerical columns in the DataFrame.

loc[] and iloc[]: These functions are used for accessing rows and columns in a DataFrame. The loc[] function allows you to access rows and columns using labels, while the iloc[] function uses integer-based indexing. They are commonly used to retrieve specific data points or subsets of a DataFrame.


drop(): This function is used to remove rows or columns from a DataFrame. You can specify the labels of rows or columns to be dropped, along with the axis parameter (0 for rows, 1 for columns). It is useful when you want to remove unnecessary or redundant data from the DataFrame.


sort_values(): This function sorts the DataFrame based on one or more columns. You can specify the column(s) to sort by, and optionally the sort order (ascending or descending). It is often used to arrange the data in a specific order for analysis or presentation.

groupby(): This function is used for grouping the data based on one or more columns. It allows you to split the data into groups and perform operations on each group independently. Grouping is commonly used in data analysis to calculate aggregate statistics or perform group-specific computations.


merge() or join(): These functions are used to combine multiple DataFrames based on a common column or index. They allow you to perform database-style joins, such as inner, outer, left, or right join, to merge the data from different sources into a single DataFrame.

"""

import pandas as pd

data = {
    'Name': ['John', 'Emily', 'Michael', 'Jessica', 'David'],
    'Age': [18, 19, 20, 18, 21],
    'Grade': [85, 92, 78, 95, 88],
    'City': ['New York', 'London', 'Paris', 'Berlin', 'Tokyo']
}
df = pd.DataFrame(data)


print("Head:\n", df.head())


print("\nTail:\n", df.tail())


print("\nDescribe:")
print(df.describe())

print("\nloc[0]:")
print(df.loc[0]) 


print("\niloc[2]:")
print(df.iloc[2])  


df_dropped = df.drop('City', axis=1)
print("\nDataFrame after dropping 'City' column:\n", df_dropped)

Head:
       Name  Age  Grade      City
0     John   18     85  New York
1    Emily   19     92    London
2  Michael   20     78     Paris
3  Jessica   18     95    Berlin
4    David   21     88     Tokyo

Tail:
       Name  Age  Grade      City
0     John   18     85  New York
1    Emily   19     92    London
2  Michael   20     78     Paris
3  Jessica   18     95    Berlin
4    David   21     88     Tokyo

Describe:
            Age      Grade
count   5.00000   5.000000
mean   19.20000  87.600000
std     1.30384   6.580274
min    18.00000  78.000000
25%    18.00000  85.000000
50%    19.00000  88.000000
75%    20.00000  92.000000
max    21.00000  95.000000

loc[0]:
Name         John
Age            18
Grade          85
City     New York
Name: 0, dtype: object

iloc[2]:
Name     Michael
Age           20
Grade         78
City       Paris
Name: 2, dtype: object

DataFrame after dropping 'City' column:
       Name  Age  Grade
0     John   18     85
1    Emily   19     92
2  Michael   20     78
3  Jessica   18     95
4    David   21     88

In [6]:
# Join ----------------------------------------->
import pandas as pd

data1 = pd.DataFrame({
    'key1': [1, 2, 4, 5, 6],
    'key2': [4, 5, 6, 7, 8],
    'key3': [3, 4, 5, 6, 6]
}, index=['a', 'b', 'c', 'd', 'e'])

data2 = pd.DataFrame({
    'key11': [1, 2, 4, 5, 6],
    'key22': [4, 5, 6, 7, 8],
    'key33': [3, 4, 5, 6, 6]
}, index=['a', 'b', 'h', 'i', 'j'])

joined_data = data1.join(data2)

print(joined_data)

   key1  key2  key3  key11  key22  key33
a     1     4     3    1.0    4.0    3.0
b     2     5     4    2.0    5.0    4.0
c     4     6     5    NaN    NaN    NaN
d     5     7     6    NaN    NaN    NaN
e     6     8     6    NaN    NaN    NaN

In [7]:
# Merge Data -----------------------------------------> 
data1 = pd.DataFrame({'key1':[1,2,4,5,6],
                      'key2':[4,5,6,7,8],
                      'key3':[3,4,5,6,6]
}
)

data2 = pd.DataFrame({'key1':[1,2,45,6,67],
                      'key4':[56,5,6,7,8],
                      'key5':[3,56,5,6,6]
}
)


pd.merge(data1,data2)

   key1  key2  key3  key4  key5
0     1     4     3    56     3
1     2     5     4     5    56
2     6     8     6     7     6

In [8]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

# Save the DataFrame as a CSV file
df.to_csv('titanic_saved.csv', index=False)

In [9]:
dfx = pd.read_csv("titanic_saved.csv")

In [10]:
# Group By ----------------------------------------------------------------->
g = dfx.groupby('Survived') 
g.sum()

/tmp/ipykernel_79/3580686793.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.sum()

          PassengerId  Pclass       Age  SibSp  Parch        Fare
Survived
0              245412    1390  12985.50    304    181  12142.7199
1              151974     667   8219.67    162    159  16551.2294

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel? 


"""
Series: Mutable
DataFrame: Mutable

"""

In [12]:
# Q7. Create a DataFrame using multiple Series. Explain with an example


import pandas as pd

name_series = pd.Series(['John', 'Emily', 'Michael', 'Jessica', 'David'])
age_series = pd.Series([18, 19, 20, 18, 21])
grade_series = pd.Series([85, 92, 78, 95, 88])


df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Grade': grade_series
})


print(df)

      Name  Age  Grade
0     John   18     85
1    Emily   19     92
2  Michael   20     78
3  Jessica   18     95
4    David   21     88